/* Code window styles */
.code-window {
padding-inline: 1%;
background-color: #292b2f;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
overflow:  hidden;
overflow: visible;
}
    
/* <!--   font-family: &#39;Segoe UI&#39;, Tahoma, Geneva, Verdana, sans-serif; --> */


/* Code header styles */

.code-header {
color: white;
background-color: #212326;
padding: 1%;
border-bottom: 1px solid #404040;
}

/* Code body styles */
.code-body {
padding: 10px;

}

/* Code snippet styles */
pre {

/*_______adding this to make beautiful______ */
font-size:0%;
 line-height: 1.2;
 color: #3fe2ff;  border-color:
 black; box-shadow: black;
 background-color: black;
 overflow: scroll;
/*___________________________________________*/

background-color: #1e1e1e;
color: #3fe2ff;
border-radius: 4px;
padding: 10px;
font-size: 14px;
line-height: 1.5;
overflow-x: auto;
}

/* Syntax highlighting styles */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
color: #6a9955;
}

.token.punctuation {
color: #d4d4d4;
}


.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
color: #b5cea8;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
color: #ce9178;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
color: #9cdcfe;
}

.token.atrule,
.token.attr-value,
.token.keyword {
color: #dcdcaa;
}

.token.function,
.token.class-name {
color: #4ec9b0;
}

.token.regex,
.token.important,
.token.variable {
color: #d16969;
}

.token.important,
.token.bold {
font-weight: bold;
}

.token.italic {
font-style: italic;
}

.token.entity {
cursor: help;
}


.coding::-webkit-scrollbar {
width: 10px;
}

.coding::-webkit-scrollbar-track {
background: #f5f5f5;
}

.coding::-webkit-scrollbar-thumb {
background-color: #888;
border-radius: 5px;
border: 2px solid #f5f5f5;
}

.coding::-webkit-scrollbar-thumb:hover {
background-color: #555;
}
