
.button-container-final
{
    padding: 20px;
    
}
.button-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;
    
}

.button-container:hover {
    transform: scale(1.05); /* Enlarges on hover */
}

.button-container:active {
    transform: scale(0.95); /* Jelly-like effect on click */
}

.amazon-button {
    padding: 12px 24px;
    background-color: #FF9900;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    font-family: Arial, sans-serif;
    border: none;
}

.offer-sticker {
    position: absolute;
    top: -25px; /* Shifted more to the top */
    right: -10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 0.8em;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    font-family: 'Comic Sans MS', cursive, sans-serif;
    transform: rotate(10deg); /* Slightly rotated to the right */
}

